@model ForcedDemo.Models.ActBooking.ActivityTimes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityTimes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SlotTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlotTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActivityTimesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
