
@{
    ViewBag.Title = "Home Page";
}

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/images/img_bg_5.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Welcome to Bounce INC</h2>
                                <h1>A Complete Joy</h1>
                                @*<p><a class="btn btn-primary btn-demo" href="#"></i> View Detail</a> <a class="btn btn-primary btn-learn">Know More</a></p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/images/img_bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Discover &amp; Enjoy</h2>
                                <h1>Everything you need in sporting and games</h1>
                                @*<p><a class="btn btn-primary btn-demo" href="#"></i> View Detail</a> <a class="btn btn-primary btn-learn">Know More</a></p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/images/img_bg_3.jpg);">
                <div class="overlay"></div>
                <div class="container-fluids">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>You are invited</h2>
                                <h1>We know how to please you</h1>
                                @*<p><a class="btn btn-primary btn-demo" href="#"></i> View Detail</a> <a class="btn btn-primary btn-learn">Know More</a></p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/images/img_bg_4.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Come &amp; enjoy the unforgetable moments</h2>
                                <h1>In the heart of Bounce INC</h1>
                                @*<p><a class="btn btn-primary btn-demo" href="#"></i> View Detail</a> <a class="btn btn-primary btn-learn">Know More</a></p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div id="colorlib-services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 animate-box text-center">
                <div class="services">
                    <span class="icon">
                        <i class="flaticon-reception"></i>
                    </span>
                    <h3>24/7 Front Desk</h3>
                    <p>Separated they live in Durban right at the heart of the city,at your disposal is thier vast language in thier arsenal. They are there to assist you with bookings and registering for our online services.</p>
                </div>
            </div>
            <div class="col-md-4 animate-box text-center">
                <div class="services">
                    <span class="icon">
                        <i class="flaticon-car"></i>
                    </span>
                    <h3>Bounce INC Programs</h3>
                    <p>Bring your loved ones, co-workers and everyone to the world of Mega Fun. Book a group session, a work relaed conference, a standard trip to Mega Land for a reasonable fee.</p>
                </div>
            </div>
            <div class="col-md-4 animate-box text-center">
                <div class="services">
                    <span class="icon">
                        <i class="flaticon-cheers"></i>
                    </span>
                    <h3>Bounce INC Shop</h3>
                    <p>Get every access to the products offered in Bounce INC, and get it all online... You do not have to wait in line!!!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .owl-carousel .own-item img {
        -webkit-backface-visibility: hidden;
    }
</style>


